body .hide {
  display: none;
}
body header {
  display: flex;
  background-color: black;
  color: white;
  font-weight: 300;
  width: 100%;
  height: 50px;
  text-align: center;
}
body header div {
  margin: auto;
}
body .main-search-wrapper {
  display: flex;
  padding: 10px 0;
}
body .main-search-wrapper .search-container #search-value-city {
  /*height: 30px;*/
}
body .main-search-wrapper .search-container #search-value {
  width: 100%;
}
body .main-search-wrapper .search-container .btn-container #submit-btn {
  align-content: center;
}
body .main-weather-container #weather-details-container {
  display: flex;
  justify-content: space-between;
  border-width: 2px;
  background-color: aliceblue;
  font-size: 14px;
  padding: 10px;
}
body .main-weather-container #weather-details-container .wind-wrapper .city-name {
  background-color: black;
  color: white;
  font-weight: 200;
  margin-bottom: 2px;
  text-align: center;
}
body .main-weather-container #weather-details-container .wind-wrapper .wind-icon-details-container {
  display: flex;
}
body .main-weather-container #weather-details-container .wind-wrapper .wind-icon-details-container .wind-icon img {
  width: 50px;
  height: 50px;
}
body .main-weather-container #weather-details-container .wind-wrapper .wind-icon-details-container .wind-container {
  font-size: smaller;
  padding: 2px;
}
body .main-weather-container #weather-details-container .fav-btn {
  display: grid;
}
body .main-weather-container #weather-details-container .fav-btn button {
  margin-bottom: 10px;
}
body .main-weather-container #weather-details-container .fav-btn.hide {
  /* display: none;*/
}
body .main-weather-container #weather-details-container #submit-fav-btn.active {
  background-color: green;
}
body .fav-city-list-container {
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
}
body .fav-city-list-container .fav-title-container {
  text-align: center;
  width: 100%;
  background-color: black;
  color: white;
}
body .fav-city-list-container .fav-city-wrapper {
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
body .fav-city-list-container .btn-container {
  font-size: 12px;
}
body .fav-city-list-container .btn-container button {
  margin-right: 10px;
}
body .fav-city-list-container.hide {
  /*display: none;*/
}
body #error-details {
  color: red;
}
body .forecast-container {
  padding: 10px;
  background-color: bisque;
}
body .forecast-container .forecast-title {
  text-align: center;
  background-color: black;
  color: white;
}
body .forecast-container .forecast-list-collection {
  display: flex;
  overflow-x: auto;
}
body .forecast-container .forecast-list-collection .forecast-list {
  margin: 10px 5px;
  border: solid 1px;
  border-color: brown;
  min-width: fit-content;
  padding: 5px;
}
